<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Video Platform</title>
</head>
<body>
    <h1>LearnIT</h1>

        <a href="{% url 'upload_videos' %}">
            <button>Upload Videos</button>
        </a>
        <a href="{% url 'listmyvideos' %}">
            <button>List my videos</button>
        </a>
        <a href="{% url 'listothervideos' %}">
            <button>List other videos</button>
        </a>
        <a href="{% url 'listothervideos' %}">
            <button>List videos by category</button>
        </a>
        <a href="{% url 'user_logout' %}">
            <button>User Logout</button>
        </a>
    </div>
    
</body>
</html>
