<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
    <h1>Requests List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Comment</th>
                <th>Requested Date</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.userid }}</td>
                <td>{{ request.username }}</td>
                <td>{{ request.comment }}</td>
                <td>{{ request.requesteddate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'admin_home' %}">
        <button>Back to Admin Home</button>
    </a>
</body>
</html>
